<ul class="list-group">
    <li class="list-group-item mt-2">EmpId:{{employee.emp_id}}</li>
    <li class="list-group-item mt-2"><img src="{{employee.emp_photo}}"/></li>
    <li class="list-group-item mt-2">EmpName:{{employee.emp_name}}</li>
    <li class="list-group-item mt-2">emp_designation:{{employee.emp_designation}}</li>
    <li class="list-group-item mt-2">Empl Salary:{{employee.emp.salary}}</li>
    <li class="list-group-item mt-2">Emp Location:{{employee.emp_location}}</li>
    <li class="list-group-item mt-2">Emp Education:{{employee.emp_education}}</li>

</ul>