<!-- <app-contact></app-contact>

     <!-- <user></user>  -->
     
<!-- <app-registers></app-registers> -->
<!-- <app-students></app-students> -->
<app-header></app-header>
<app-api></app-api>

<!-- <div class="row">
    <div class="col-md-6">
        <app-login>
            <h1>Register</h1>
            <button class="btn-primary btn-block mt-2">Login</button>
            <div>
                <span>Dont have an account please</span>
                <a href="/register">Register</a>
            </div>
        </app-login>
    </div>
    <div class="col-md-6">
        <app-login>
            <h1 id="login">Register</h1>
            <button id="registerbtn"> Register </button>
            <div>
                <span>Dont have an account please</span>
               <a href="/login">login</a>
            </div>

        </app-login>
    </div>
</div>  -->